$prim: #00dcff;

.text-editor-html {
    overflow-wrap: break-word;
    width: 100%;
    font-family: "Roboto";
    font-size: 20px;
    caret-color: black;

    img {
        width: 100%;
        height: auto;
    }

    div[data-type=""] {
        margin: 10px 0px;
    }
    [data-type="title"] {
        margin: 10px 0px;
    }

    ul,
    ol {
        margin: 2px;
        padding-left: 25px;
    }

    input[type="checkbox"] {
        cursor: pointer;
        width: 15px;
        height: 15px;
        margin-right: 7px;
    }

    [data-type="quote"] {
        box-sizing: "border-box";
        padding: 25px 10px;
        background-color: #f6f6f6;
        border-left: 8px solid black;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    [data-type="note"] {
        box-sizing: "border-box";
        padding: 25px 10px;
        //background-color: #ff7bb0;
        background-color: #ffebf2;
        border: 2px solid black;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .CodeMirror {
        margin: 10px 0;
        font-family: "Fira Code", monospace;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        height: auto;
        //background-color: #f2f2f2;
    }
}

.link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.link-note {
    color: $prim;
}
