@import "./scss/_utilities.scss";
@import "./scss/_navbar.scss";
@import "./scss/_dashboard.scss";
@import "./scss/_auth.scss";
@import "./scss/_noteContent.scss";


html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.page-container {
    display: flex;
    flex-direction: row;
}

.page-componenet {
    flex: 1 0 500px;
    height: 100vh;
    overflow-y: auto;
}

::selection {
    background: #FF7BB0;
    color: white;
}