.nav-cont {
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 6px 0px 81px -21px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 6px 0px 81px -21px rgba(0, 0, 0, 0.49);
    box-shadow: 6px 0px 81px -21px rgba(0, 0, 0, 0.49);

    nav {
        padding: 0;
        margin: 0;
        width: 0px;
        height: 100vh;
        //position: relative;
        display: flex;
        flex-flow: column;
        background-color: #f6f6f6;
        z-index: 1;

        overflow: hidden;
        transition: 0.5s;
        white-space: nowrap;
    }

    .open-btn {
        height: 100vh;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 50px;
        border-right: 1px solid rgb(224, 224, 224);
        //color: rgb(224, 224, 224);
        background-color: white;
        transition: 0.3s;
        text-align: center;
        overflow: hidden;
    }

    .open-btn:hover {
        border-right: 1px solid $prim;
        color: white;
        background-color: $prim;
        font-size: 60px;
    }
}

.container {
    margin-left: 0;
    flex: 1 0 500px;

    .close-container {
        text-align: right;
        position: relative;
        width: 100%;

        .profile-close {
            position: absolute;
            z-index: 1;
            font-size: 35px;
            color: #bdbdbd;
            padding: 0px 15px 0px 15px;
            cursor: pointer;
            top: 10px;
            right: 0px;
            transition: 0.18s ease-in-out;
        }
    }
}

.cover {
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(26, 26, 26, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        background-color: #f5f5f5;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;

        .contain {
            //display: relative;
            width: 100%;
            text-align: right;

            span {
                text-align: right;
                font-size: 50px;
                color: #bdbdbd;
                padding: 0px 15px 0px 15px;
                margin-right: 30px;
                margin-top: 20px;
                cursor: pointer;
                transition: 0.18s ease-in-out;
                display: inline-block;
            }
        }

        .form-inner {
            display: relative;
            margin-bottom: 40px;
            width: 70%;

            h1 {
                color: $prim;
                font-size: 80px;
                margin-top: 0;
                margin-bottom: 20px;
            }

            input {
                width: 100%;
                border: 2px solid $prim;
                padding: 12px 0 12px 17px;
                color: black;
                margin-bottom: 30px;
                height: 60px;
                font-size: 25px;
                box-sizing: border-box;
            }

            ::placeholder {
                color: #afafaf;
            }

            .action-button {
                padding: 0;
                margin: 0;
                background-color: $prim;
                box-sizing: border-box;
                height: 60px;
                color: white;
                font-size: 30px;
                cursor: pointer;
                transition: 0.18s ease-in-out;
            }

            .action-button:hover {
                transform: scale(1.03);
            }
        }
    }
}

.close-nav {
    background-color: $prim;
    box-sizing: border-box;
    text-align: right;
    height: 30px;

    div {
        position: absolute;
        right: 0;
        margin: 15px;
        transition: 0.2s;
        font-size: 35px;
        color: white;
        cursor: pointer;
    }

    div:hover {
        transform: scale(1.2);
    }
}

.logo {
    font-family: "WebFont", arkipelagoregular, sans-serif;
    box-sizing: border-box;
    background-color: $prim;
    white-space: nowrap;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo-title {
        text-decoration: none;
        font-weight: bold;
        color: white;
        font-size: 110px;
        margin: 0;

        @media (max-width: 1950px) {
            font-size: 90px;
        }
    }
}

.profile {
    box-sizing: border-box;
    background-color: #eeeeee;
    width: 100%;
    cursor: pointer;

    .prof-in {
        height: 120px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        .prof-name {
            margin-left: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-size: 35px;
            }
        }

        .prof-picture {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $prim;
            color: white;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            font-size: 30px;
        }
    }
}

.list {
    .list-title-container {
        display: flex;
        font-weight: bold;
        color: $prim;
        padding: 0;
        position: relative;

        .back {
            top: 50%;
            left: 23px;
            color: $prim;
            transform: translateY(-50%);
            position: absolute;
            text-decoration: none;
            font-size: 47px;
            margin: 0;
            cursor: pointer;
            transition: 0.1s ease-in-out;
        }

        .clickable {
            cursor: pointer;
        }

        .back:hover {
            font-size: 57px;
        }

        .note-title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: 0;
            margin: 15px 0 10px 58px;
            font-size: 40px;
        }

        .notebook-title {
            margin: 0;
            margin: 15px 0 10px 35px;
            font-size: 42px;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-y: auto;
        width: 100%;

        background:
            /* Shadow covers */ linear-gradient(
                #f6f6fe 30%,
                rgba(255, 255, 255, 0)
            ),
            linear-gradient(rgba(255, 255, 255, 0), #f6f6fe 70%) 0 100%,
            /* Shadows */
                radial-gradient(
                    farthest-side at 50% 0,
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0)
                ),
            radial-gradient(
                    farthest-side at 50% 100%,
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0)
                )
                0 100%;
        background:
            /* Shadow covers */ linear-gradient(
                #f6f6fe 30%,
                rgba(255, 255, 255, 0)
            ),
            linear-gradient(rgba(255, 255, 255, 0), #f6f6fe 70%) 0 100%,
            /* Shadows */
                radial-gradient(
                    farthest-side at 50% 0,
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0)
                ),
            radial-gradient(
                    farthest-side at 50% 100%,
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0)
                )
                0 100%;
        background-repeat: no-repeat;
        background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
        /* Opera doesn't support this in the shorthand */
        background-attachment: local, local, scroll, scroll;

        li {
            box-sizing: border-box;
            position: relative;
            border-top: 1px solid rgb(224, 224, 224);
            transition: 0.1s ease-in-out;

            .icons {
                position: absolute;
                display: flex;
                top: 50%;
                transform: translateY(-50%);
                left: 15px;
                opacity: 0;
                transition: 0.1s ease-in-out;
                color: white;
                font-size: 22px;
                cursor: pointer;

                .trash,
                .star {
                    padding: 3px;
                }

                .trash:hover,
                .star:hover {
                    font-size: 25px;
                }
            }

            .link {
                padding: 5px 0 5px 0;
                flex: 1 0 40px;
                display: block;
                text-decoration: none;
                cursor: pointer;
                background-color: none;
                color: #878787;
                transition: background-color 0.1s ease-in-out;

                p {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-size: 30px;
                    margin: 0;
                    margin-left: 80px;
                    margin-right: 20px;
                }
            }
        }

        li:last-child {
            border-bottom: 1px solid rgb(224, 224, 224);
        }

        li:hover {
            border-color: $prim;

            .link {
                background-color: $prim;
                color: white;
            }

            .icons {
                opacity: 1;
            }
        }

        li:hover + li {
            border-color: $prim;
        }

        li:hover + li:last-child {
            border-top-color: $prim;
            border-bottom-color: rgb(224, 224, 224);
        }
    }
}

.new-notebook {
    color: white;
    width: 100%;
    height: 60px;
    font-size: 27px;
    font-weight: bold;
    background-color: $prim;
    border: none;
    cursor: pointer;

    span {
        transition: 0.5s;
        position: relative;
    }

    span:after {
        content: "\002B";
        position: absolute;
        top: 1px;
        opacity: 0;
        right: -25px;
        transition: 0.5s;
    }
}

.new-notebook:hover {
    span {
        padding-right: 20px;
    }

    span:after {
        right: 0;
        opacity: 1;
    }
}
